#%RAML 0.8
title: "IsaaCloud REST API v1"
version: "v1"
baseUri: "https://apidev.isaacloud.com/v1"
protocols: [HTTPS]
mediaType: "application/json"
resourceTypes: 
    - 
        "common": 
            displayName: "common"
traits: 
    - 
        "paginator": 
            displayName: "paginator"
    - 
        "groups": 
            displayName: "groups"
    - 
        "ids": 
            displayName: "ids"
    - 
        "segments": 
            displayName: "segments"
    - 
        "fields": 
            displayName: "fields"
    - 
        "ordering": 
            displayName: "ordering"
    - 
        "createdAt": 
            displayName: "createdAt"
    - 
        "updatedAt": 
            displayName: "updatedAt"
    - 
        "query": 
            displayName: "query"
    - 
        "customFields": 
            displayName: "customFields"
securitySchemes: 
    - 
        "oauth_2_0": 
            description: |
                We use OAuth2 server implementation for authentication. It is an open standard and it provides a method for clients to access server resources on behalf of a resource owner.
            type: "OAuth 2.0"
            settings: 
                "accessTokenUri": "https://oauthdev.isaacloud.com/token"
                "authorizationUri": "https://oauthdev.isaacloud.com/authorize"
                "baseUri": "https://oauthdev.isaacloud.com"
securedBy: 
    - 
        oauth_2_0
"/queues": 
    displayName: "Queue"
    "/events": 
        displayName: "Events"
        type: "common"
        get: 
            description: "Use this method to get the list of events for a client."
            queryParameters: 
                "offset": 
                    description: "the number of items returned"
                    type: number
                    required: false
                    repeat: false
                "limit": 
                    description: "the starting position"
                    type: number
                    required: false
                    repeat: false
                "fields": 
                    description: "the fields we want to show in our result"
                    type: string
                    required: false
                    repeat: false
                    example: "id,name,description"
                "order": 
                    description: "the fields we want to order by and the type of ordering"
                    type: string
                    required: false
                    repeat: false
                    example: "id:DESC,foo:ASC"
                "fromc": 
                    description: "the object created after this time as a timestamp"
                    type: number
                    required: false
                    repeat: false
                    example: "1394204207755"
                "toc": 
                    description: "the object created before this time as a timestamp"
                    type: number
                    required: false
                    repeat: false
                    example: "1394204207755"
                "fromu": 
                    description: "the object updated after this time as a timestamp"
                    type: number
                    required: false
                    repeat: false
                    example: "1394204207755"
                "tou": 
                    description: "the object updated before this time as a timestamp"
                    type: number
                    required: false
                    repeat: false
                    example: "1394204207755"
                "ids": 
                    description: "the ids we want to narrow down our search to"
                    type: string
                    required: false
                    repeat: false
                    example: "1,2,4,5"
            responses: 
                "200": 
                    description: "Success!"
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "items": {
                                        "type": "object", 
                                        "description": "A single event", 
                                        "properties": {
                                            "body": {
                                                "type": "object", 
                                                "description": "the body of the event"
                                            }, 
                                            "status": {
                                                "enum": [
                                                    0, 
                                                    1, 
                                                    2, 
                                                    3, 
                                                    4, 
                                                    5, 
                                                    6
                                                ], 
                                                "type": "number", 
                                                "description": "current status of the event; 0:STATUS_WAITING; 1:STATUS_INPROGRESS; 2:STATUS_SYSTEM_ERROR; 3:STATUS_USER_ERROR; 4:STATUS_DONE; 5:STATUS_IGNORED; 6:STATUS_QUEUED"
                                            }, 
                                            "actionTime": {
                                                "type": "number", 
                                                "description": "the time when the action actually took place"
                                            }, 
                                            "sourceId": {
                                                "type": "number", 
                                                "description": "the id of the transaction source of the event"
                                            }, 
                                            "eventType": {
                                                "enum": [
                                                    0, 
                                                    1, 
                                                    2, 
                                                    3
                                                ], 
                                                "type": "number", 
                                                "description": "the type of the event; 0:NORMAL; 1:GROUP; 2:DEBUG; 3:FORCED"
                                            }, 
                                            "subjectType": {
                                                "enum": [
                                                    0, 
                                                    1
                                                ], 
                                                "type": "number", 
                                                "description": "the type of the subject of the event; 0:USER; 1:GROUP"
                                            }, 
                                            "clientId": {
                                                "type": "number", 
                                                "description": "the id of the client in whose context the event is processed"
                                            }, 
                                            "priority": {
                                                "enum": [
                                                    0, 
                                                    1, 
                                                    2, 
                                                    3, 
                                                    4, 
                                                    5
                                                ], 
                                                "type": "number", 
                                                "description": "the priority of the event; 0:PRIORITY_LOW; 1:PRIORITY_MEDIUM; 2:PRIORITY_NORMAL; 3:PRIORITY_HIGH; 4:PRIORITY_CRITICAL; 5:PRIORITY_BLOCKER"
                                            }, 
                                            "errorTTL": {
                                                "type": "number", 
                                                "description": "time to live of the event error"
                                            }, 
                                            "internal": {
                                                "type": "boolean", 
                                                "description": "whether the event is internal (sent by the system)"
                                            }, 
                                            "subjectId": {
                                                "type": "number", 
                                                "description": "the id of the subject of the event"
                                            }, 
                                            "internalTTL": {
                                                "type": "number", 
                                                "description": "time to live used in the INTERNAL_EVENT event type"
                                            }, 
                                            "updatedAt": {
                                                "type": "number", 
                                                "description": "the time of updating the event in milliseconds"
                                            }, 
                                            "data": {
                                                "type": "object", 
                                                "description": "additional data for the event"
                                            }, 
                                            "id": {
                                                "type": "string", 
                                                "description": "the id of the event"
                                            }, 
                                            "createdAt": {
                                                "type": "number", 
                                                "description": "the time of creating the event in milliseconds"
                                            },            
                                            "debug": {
                                                "type": "boolean", 
                                                "description": "whether debugging is active"
                                            }
                                        }
                                    }, 
                                    "$schema": "http://json-schema.org/draft-03/schema", 
                                    "type": "array", 
                                    "description": "Representation of the list of events"
                                }
                            example: |
                                [
                                    {
                                        "internalTTL": -1,
                                        "body": {
                                            "number": 11111
                                        },
                                        "eventType": 0,
                                        "updatedAt": 1398429507518,
                                        "internal": false,
                                        "priority": 1,
                                        "actionTime": 1398429507645,
                                        "clientId": 35,
                                        "data": {},
                                        "subjectType": 0,
                                        "subjectId": 1,
                                        "debug": false,
                                        "id": "535a5743e4b029c5afca6eb3",
                                        "status": 0,
                                        "createdAt": 1398429507645,
                                        "sourceId": 1,
                                        "errorTTL": -1
                                    },
                                    {
                                        "internalTTL": -1,
                                        "body": {
                                            "number": 11112
                                        },
                                        "eventType": 0,
                                        "updatedAt": 1398429800085,
                                        "internal": false,
                                        "priority": 1,
                                        "actionTime": 1398429799566,
                                        "clientId": 35,
                                        "data": {},
                                        "subjectType": 0,
                                        "subjectId": 1,
                                        "debug": false,
                                        "id": "535a5867e4b029c5afca6eb7",
                                        "status": 0,
                                        "createdAt": 1398429799566,
                                        "sourceId": 1,
                                        "errorTTL": -1
                                    },
                                    {
                                        "internalTTL": -1,
                                        "body": {
                                            "number": 11111
                                        },
                                        "eventType": 0,
                                        "updatedAt": 1398434249448,
                                        "internal": false,
                                        "priority": 1,
                                        "actionTime": 1398434249370,
                                        "clientId": 35,
                                        "data": {},
                                        "subjectType": 0,
                                        "subjectId": 1,
                                        "debug": false,
                                        "id": "535a69c9e4b029c5afca6ecf",
                                        "status": 0,
                                        "createdAt": 1398434249370,
                                        "sourceId": 1,
                                        "errorTTL": -1
                                    }
                                ]
                "400": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Deserialization error",
                                    "code" : 40001,
                                    "data" : {
                                    	"transactionsource" : "cannot be null"
                                    }
                                }
                "401": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Authentication error",
                                    "code" : 40101
                                }
                "402": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "User limit has been reached",
                                    "code" : 40201
                                }
                "404": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Element not found",
                                    "code" : 40401
                                }
                "500": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Fatal server error occurred",
                                    "code" : 50001,
                                    "data" : {
                                    	"id" : "1asde2"
                                	}
                                }
            is: ["paginator", "fields", "ordering", "createdAt", "updatedAt", "ids"]
        post: 
            description: "Use this method to create a new event."
            body: 
                "application/json": 
                    schema: |
                        {
                            "$schema": "http://json-schema.org/draft-03/schema", 
                            "type": "object", 
                            "description": "Representation of an event", 
                            "properties": {
                                "body": {
                                    "required": false, 
                                    "type": "object", 
                                    "description": "the body of the event"
                                }, 
                                "sourceId": {
                                    "required": true, 
                                    "type": "number", 
                                    "description": "the id of the transation source of the event"
                                }, 
                                "subjectType": {
                                    "required": true, 
                                    "type": [
                                        "string", 
                                        "number"
                                    ], 
                                    "description": "the type of the subject; 0:USER,1:GROUP", 
                                    "enum": [
                                        0, 
                                        "USER", 
                                        1, 
                                        "GROUP"
                                    ]
                                }, 
                                "subjectId": {
                                    "required": true, 
                                    "type": "number", 
                                    "description": "the id of the subject"
                                }, 
                                "priority": {
                                    "default": "PRIORITY_MEDIUM", 
                                    "required": false, 
                                    "type": [
                                        "string", 
                                        "number"
                                    ], 
                                    "description": "the priority of the event; 0:PRIORITY_LOW,1:PRIORITY_MEDIUM,2:PRIORITY_NORMAL,3:PRIORITY_HIGH,4:PRIORITY_CRITICAL,5:PRIORITY_BLOCKER", 
                                    "enum": [
                                        1, 
                                        "PRIORITY_MEDIUM", 
                                        0, 
                                        "PRIORITY_LOW", 
                                        3, 
                                        "PRIORITY_HIGH", 
                                        2, 
                                        "PRIORITY_NORMAL", 
                                        5, 
                                        "PRIORITY_BLOCKER", 
                                        4, 
                                        "PRIORITY_CRITICAL"
                                    ]
                                }, 
                                "eventType": {
                                    "default": "NORMAL", 
                                    "required": false, 
                                    "type": [
                                        "string", 
                                        "number"
                                    ], 
                                    "description": "the type of the event; 0:NORMAL, 1:GROUP,2:DEBUG,3:FORCED", 
                                    "enum": [
                                        1, 
                                        "GROUP", 
                                        0, 
                                        "NORMAL", 
                                        3, 
                                        "FORCED", 
                                        2, 
                                        "DEBUG"
                                    ]
                                }
                            }
                        }
                    example: |
                        {
                        	"body":{
                        		"number": 5
                        	},
                        	"priority":"PRIORITY_HIGH",
                        	"sourceId":1,
                        	"subjectId":4,
                        	"subjectType":"USER",
                        	"eventType":"NORMAL"
                        }
            responses: 
                "201": 
                    description: "Success!"
                    body: 
                        "application/json": 
                            schema: |
                                {
                                   "$schema":"http://json-schema.org/draft-03/schema",
                                   "type":"object",
                                   "description":"Representation of an event",
                                   "properties":{
                                      "id":{
                                         "type":"string",
                                         "description":"the id of the event"
                                         },
                                      "actionTime":{
                                         "type":"number",
                                         "description":"the time when the action actually took place"
                                      },
                                      "body":{
                                         "type":"object",
                                         "description":"the body of the event"
                                      },
                                      "clientId":{
                                         "type":"number",
                                         "description":"the id of the client in whose context the event is processed"
                                      },
                                      "data":{
                                         "type":"object",
                                         "description":"additional data for an event"
                                      },
                                      "errorTTL":{
                                         "type":"number",
                                         "description":"time to live of the event error"
                                      },
                                      "internal":{
                                         "type":"boolean",
                                         "description":"whether the event is internal (sent by the system)"
                                      },
                                      "internalTTL":{
                                         "type":"number",
                                         "description":"time to live used in the INTERNAL_EVENT event type"
                                      },
                                      "priority":{
                                         "enum":[0, 1, 2, 3, 4, 5],
                                         "type": "number",
                                         "description":"the priority of the event; 0:PRIORITY_LOW; 1:PRIORITY_MEDIUM; 2:PRIORITY_NORMAL; 3:PRIORITY_HIGH; 4:PRIORITY_CRITICAL; 5:PRIORITY_BLOCKER"
                                      },
                                      "sourceId":{
                                         "type":"number",
                                         "description":"the id of the transaction source of the event"
                                      },
                                      "subjectType":{
                                         "type":"number",
                                         "enum": [0, 1],
                                         "description":"the type of the subject of the event; 0:USER; 1:GROUP"
                                      },
                                      "subjectId":{
                                         "type":"number",
                                         "description":"the id of the subject of the event"
                                      },
                                      "eventType":{
                                         "type":"number",
                                         "enum":[0, 1, 2, 3],
                                         "description":"the type of the event; 0:NORMAL; 1:GROUP; 2:DEBUG; 3:FORCED"
                                      },
                                      "status":{
                                         "type":"number",
                                         "enum":[0, 1, 2, 3, 4, 5, 6],
                                         "description":"current status of the event; 0:STATUS_WAITING; 1:STATUS_INPROGRESS; 2:STATUS_SYSTEM_ERROR; 3:STATUS_USER_ERROR; 4:STATUS_DONE; 5:STATUS_IGNORED; 6:STATUS_QUEUED"
                                      },
                                      "createdAt":{
                                         "type":"number",
                                         "description":"the time of creating the event in milliseconds"
                                      },
                                      "updatedAt":{
                                         "type":"number",
                                         "description":"the time of updating the event in milliseconds"
                                      },
                                      "debug": {
                                         "type": "boolean", 
                                         "description": "whether debugging is active"
                                      }
                                   }
                                }
                            example: |
                                {
                                    "internalTTL": -1,
                                    "body": {
                                        "number": 5
                                    },
                                    "eventType": 0,
                                    "updatedAt": 1398429507518,
                                    "internal": false,
                                    "priority": 1,
                                    "actionTime": 1398429507645,
                                    "clientId": 35,
                                    "data": {},
                                    "subjectType": 0,
                                    "subjectId": 1,
                                    "debug": false,
                                    "id": "535a5743e4b029c5afca6eb3",
                                    "status": 0,
                                    "createdAt": 1398429507645,
                                    "sourceId": 1,
                                    "errorTTL": -1
                                }
                "400": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Deserialization error",
                                    "code" : 40001,
                                    "data" : {
                                    	"transactionsource" : "cannot be null"
                                    }
                                }
                "401": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Authentication error",
                                    "code" : 40101
                                }
                "402": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "User limit has been reached",
                                    "code" : 40201
                                }
                "404": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Element not found",
                                    "code" : 40401
                                }
                "500": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "message": {
                                            "required": true,
                                            "type": "string",
                                            "description": "the message exaplaining the error"
                                        },
                                        "code": {
                                            "required": true,
                                            "type": "number",
                                            "description": "the internal code of the error"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional information for some of the errors"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "message" : "Fatal server error occurred",
                                    "code" : 50001,
                                    "data" : {
                                    	"id" : "1asde2"
                                	}
                                }
        "/error": 
            displayName: "Error Events"
            type: "common"
            get: 
                description: "Use this method to get the list of error events for a client."
                queryParameters: 
                    "offset": 
                        description: "the number of items returned"
                        type: number
                        required: false
                        repeat: false
                    "limit": 
                        description: "the starting position"
                        type: number
                        required: false
                        repeat: false
                    "fields": 
                        description: "the fields we want to show in our result"
                        type: string
                        required: false
                        repeat: false
                        example: "id,name,description"
                    "order": 
                        description: "the fields we want to order by and the type of ordering"
                        type: string
                        required: false
                        repeat: false
                        example: "id:DESC,foo:ASC"
                    "fromc": 
                        description: "the object created after this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "toc": 
                        description: "the object created before this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "fromu": 
                        description: "the object updated after this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "tou": 
                        description: "the object updated before this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "ids": 
                        description: "the ids we want to narrow down our search to"
                        type: string
                        required: false
                        repeat: false
                        example: "1,2,4,5"
                responses: 
                    "200": 
                        description: "Success!"
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "items": {
                                            "type": "object", 
                                            "description": "A single event", 
                                            "properties": {
                                                "body": {
                                                    "type": "object", 
                                                    "description": "the body of the event"
                                                }, 
                                                "status": {
                                                    "enum": [
                                                        0, 
                                                        1, 
                                                        2, 
                                                        3, 
                                                        4, 
                                                        5, 
                                                        6
                                                    ], 
                                                    "type": "number", 
                                                    "description": "current status of the event; 0:STATUS_WAITING; 1:STATUS_INPROGRESS; 2:STATUS_SYSTEM_ERROR; 3:STATUS_USER_ERROR; 4:STATUS_DONE; 5:STATUS_IGNORED; 6:STATUS_QUEUED"
                                                }, 
                                                "actionTime": {
                                                    "type": "number", 
                                                    "description": "the time when the action actually took place"
                                                }, 
                                                "sourceId": {
                                                    "type": "number", 
                                                    "description": "the id of the transaction source of the event"
                                                }, 
                                                "eventType": {
                                                    "enum": [
                                                        0, 
                                                        1, 
                                                        2, 
                                                        3
                                                    ], 
                                                    "type": "number", 
                                                    "description": "the type of the event; 0:NORMAL; 1:GROUP; 2:DEBUG; 3:FORCED"
                                                }, 
                                                "subjectType": {
                                                    "enum": [
                                                        0, 
                                                        1
                                                    ], 
                                                    "type": "number", 
                                                    "description": "the type of the subject of the event; 0:USER; 1:GROUP"
                                                }, 
                                                "clientId": {
                                                    "type": "number", 
                                                    "description": "the id of the client in whose context the event is processed"
                                                }, 
                                                "priority": {
                                                    "enum": [
                                                        0, 
                                                        1, 
                                                        2, 
                                                        3, 
                                                        4, 
                                                        5
                                                    ], 
                                                    "type": "number", 
                                                    "description": "the priority of the event; 0:PRIORITY_LOW; 1:PRIORITY_MEDIUM; 2:PRIORITY_NORMAL; 3:PRIORITY_HIGH; 4:PRIORITY_CRITICAL; 5:PRIORITY_BLOCKER"
                                                }, 
                                                "errorTTL": {
                                                    "type": "number", 
                                                    "description": "time to live of the event error"
                                                }, 
                                                "internal": {
                                                    "type": "boolean", 
                                                    "description": "whether the event is internal (sent by the system)"
                                                }, 
                                                "subjectId": {
                                                    "type": "number", 
                                                    "description": "the id of the subject of the event"
                                                }, 
                                                "internalTTL": {
                                                    "type": "number", 
                                                    "description": "time to live used in the INTERNAL_EVENT event type"
                                                }, 
                                                "updatedAt": {
                                                    "type": "number", 
                                                    "description": "the time of updating the event in milliseconds"
                                                }, 
                                                "data": {
                                                    "type": "object", 
                                                    "description": "additional data for the event"
                                                }, 
                                                "id": {
                                                    "type": "string", 
                                                    "description": "the id of the event"
                                                }, 
                                                "createdAt": {
                                                    "type": "number", 
                                                    "description": "the time of creating the event in milliseconds"
                                                },            
                                                "debug": {
                                                    "type": "boolean", 
                                                    "description": "whether debugging is active"
                                                }
                                            }
                                        }, 
                                        "$schema": "http://json-schema.org/draft-03/schema", 
                                        "type": "array", 
                                        "description": "Representation of the list of events"
                                    }
                                example: |
                                    [
                                        {
                                            "internalTTL": -1,
                                            "body": {
                                                "number": 11111
                                            },
                                            "eventType": 0,
                                            "updatedAt": 1398429507518,
                                            "internal": false,
                                            "priority": 1,
                                            "actionTime": 1398429507645,
                                            "clientId": 35,
                                            "data": {},
                                            "subjectType": 0,
                                            "subjectId": 1,
                                            "debug": false,
                                            "id": "535a5743e4b029c5afca6eb3",
                                            "status": 2,
                                            "createdAt": 1398429507645,
                                            "sourceId": 1,
                                            "errorTTL": -1
                                        },
                                        {
                                            "internalTTL": -1,
                                            "body": {
                                                "number": 11112
                                            },
                                            "eventType": 0,
                                            "updatedAt": 1398429800085,
                                            "internal": false,
                                            "priority": 1,
                                            "actionTime": 1398429799566,
                                            "clientId": 35,
                                            "data": {},
                                            "subjectType": 0,
                                            "subjectId": 1,
                                            "debug": false,
                                            "id": "535a5867e4b029c5afca6eb7",
                                            "status": 3,
                                            "createdAt": 1398429799566,
                                            "sourceId": 1,
                                            "errorTTL": -1
                                        },
                                        {
                                            "internalTTL": -1,
                                            "body": {
                                                "number": 11111
                                            },
                                            "eventType": 0,
                                            "updatedAt": 1398434249448,
                                            "internal": false,
                                            "priority": 1,
                                            "actionTime": 1398434249370,
                                            "clientId": 35,
                                            "data": {},
                                            "subjectType": 0,
                                            "subjectId": 1,
                                            "debug": false,
                                            "id": "535a69c9e4b029c5afca6ecf",
                                            "status": 2,
                                            "createdAt": 1398434249370,
                                            "sourceId": 1,
                                            "errorTTL": -1
                                        }
                                    ]
                    "400": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "message": {
                                                "required": true,
                                                "type": "string",
                                                "description": "the message exaplaining the error"
                                            },
                                            "code": {
                                                "required": true,
                                                "type": "number",
                                                "description": "the internal code of the error"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional information for some of the errors"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "message" : "Deserialization error",
                                        "code" : 40001,
                                        "data" : {
                                        	"transactionsource" : "cannot be null"
                                        }
                                    }
                    "401": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "message": {
                                                "required": true,
                                                "type": "string",
                                                "description": "the message exaplaining the error"
                                            },
                                            "code": {
                                                "required": true,
                                                "type": "number",
                                                "description": "the internal code of the error"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional information for some of the errors"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "message" : "Authentication error",
                                        "code" : 40101
                                    }
                    "402": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "message": {
                                                "required": true,
                                                "type": "string",
                                                "description": "the message exaplaining the error"
                                            },
                                            "code": {
                                                "required": true,
                                                "type": "number",
                                                "description": "the internal code of the error"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional information for some of the errors"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "message" : "User limit has been reached",
                                        "code" : 40201
                                    }
                    "404": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "message": {
                                                "required": true,
                                                "type": "string",
                                                "description": "the message exaplaining the error"
                                            },
                                            "code": {
                                                "required": true,
                                                "type": "number",
                                                "description": "the internal code of the error"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional information for some of the errors"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "message" : "Element not found",
                                        "code" : 40401
                                    }
                    "500": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "message": {
                                                "required": true,
                                                "type": "string",
                                                "description": "the message exaplaining the error"
                                            },
                                            "code": {
                                                "required": true,
                                                "type": "number",
                                                "description": "the internal code of the error"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional information for some of the errors"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "message" : "Fatal server error occurred",
                                        "code" : 50001,
                                        "data" : {
                                        	"id" : "1asde2"
                                    	}
                                    }
                is: ["paginator", "fields", "ordering", "createdAt", "updatedAt", "ids"]
            "/{eventId}": 
                displayName: "An Error Event"
                uriParameters: 
                    "eventId": 
                        displayName: "eventId"
                        type: string
                        required: true
                        repeat: false
                type: "common"
                get: 
                    description: "Use this method to get an error event by its id for a client."
                    queryParameters: 
                        "fields": 
                            description: "the fields we want to show in our result"
                            type: string
                            required: false
                            repeat: false
                            example: "id,name,description"
                    responses: 
                        "200": 
                            description: "Success!"
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                           "$schema":"http://json-schema.org/draft-03/schema",
                                           "type":"object",
                                           "description":"Representation of an event",
                                           "properties":{
                                              "id":{
                                                 "type":"string",
                                                 "description":"the id of the event"
                                                 },
                                              "actionTime":{
                                                 "type":"number",
                                                 "description":"the time when the action actually took place"
                                              },
                                              "body":{
                                                 "type":"object",
                                                 "description":"the body of the event"
                                              },
                                              "clientId":{
                                                 "type":"number",
                                                 "description":"the id of the client in whose context the event is processed"
                                              },
                                              "data":{
                                                 "type":"object",
                                                 "description":"additional data for an event"
                                              },
                                              "errorTTL":{
                                                 "type":"number",
                                                 "description":"time to live of the event error"
                                              },
                                              "internal":{
                                                 "type":"boolean",
                                                 "description":"whether the event is internal (sent by the system)"
                                              },
                                              "internalTTL":{
                                                 "type":"number",
                                                 "description":"time to live used in the INTERNAL_EVENT event type"
                                              },
                                              "priority":{
                                                 "enum":[0, 1, 2, 3, 4, 5],
                                                 "type": "number",
                                                 "description":"the priority of the event; 0:PRIORITY_LOW; 1:PRIORITY_MEDIUM; 2:PRIORITY_NORMAL; 3:PRIORITY_HIGH; 4:PRIORITY_CRITICAL; 5:PRIORITY_BLOCKER"
                                              },
                                              "sourceId":{
                                                 "type":"number",
                                                 "description":"the id of the transaction source of the event"
                                              },
                                              "subjectType":{
                                                 "type":"number",
                                                 "enum": [0, 1],
                                                 "description":"the type of the subject of the event; 0:USER; 1:GROUP"
                                              },
                                              "subjectId":{
                                                 "type":"number",
                                                 "description":"the id of the subject of the event"
                                              },
                                              "eventType":{
                                                 "type":"number",
                                                 "enum":[0, 1, 2, 3],
                                                 "description":"the type of the event; 0:NORMAL; 1:GROUP; 2:DEBUG; 3:FORCED"
                                              },
                                              "status":{
                                                 "type":"number",
                                                 "enum":[0, 1, 2, 3, 4, 5, 6],
                                                 "description":"current status of the event; 0:STATUS_WAITING; 1:STATUS_INPROGRESS; 2:STATUS_SYSTEM_ERROR; 3:STATUS_USER_ERROR; 4:STATUS_DONE; 5:STATUS_IGNORED; 6:STATUS_QUEUED"
                                              },
                                              "createdAt":{
                                                 "type":"number",
                                                 "description":"the time of creating the event in milliseconds"
                                              },
                                              "updatedAt":{
                                                 "type":"number",
                                                 "description":"the time of updating the event in milliseconds"
                                              },
                                              "debug": {
                                                 "type": "boolean", 
                                                 "description": "whether debugging is active"
                                              }
                                           }
                                        }
                                    example: |
                                        {
                                            "internalTTL": -1,
                                            "body": {
                                                "number": 5
                                            },
                                            "eventType": 0,
                                            "updatedAt": 1398429507518,
                                            "internal": false,
                                            "priority": 1,
                                            "actionTime": 1398429507645,
                                            "clientId": 35,
                                            "data": {},
                                            "subjectType": 0,
                                            "subjectId": 1,
                                            "debug": false,
                                            "id": "535a5743e4b029c5afca6eb3",
                                            "status": 2,
                                            "createdAt": 1398429507645,
                                            "sourceId": 1,
                                            "errorTTL": -1
                                        }
                        "400": 
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                                "message": {
                                                    "required": true,
                                                    "type": "string",
                                                    "description": "the message exaplaining the error"
                                                },
                                                "code": {
                                                    "required": true,
                                                    "type": "number",
                                                    "description": "the internal code of the error"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "additional information for some of the errors"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                            "message" : "Deserialization error",
                                            "code" : 40001,
                                            "data" : {
                                            	"transactionsource" : "cannot be null"
                                            }
                                        }
                        "401": 
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                                "message": {
                                                    "required": true,
                                                    "type": "string",
                                                    "description": "the message exaplaining the error"
                                                },
                                                "code": {
                                                    "required": true,
                                                    "type": "number",
                                                    "description": "the internal code of the error"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "additional information for some of the errors"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                            "message" : "Authentication error",
                                            "code" : 40101
                                        }
                        "402": 
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                                "message": {
                                                    "required": true,
                                                    "type": "string",
                                                    "description": "the message exaplaining the error"
                                                },
                                                "code": {
                                                    "required": true,
                                                    "type": "number",
                                                    "description": "the internal code of the error"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "additional information for some of the errors"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                            "message" : "User limit has been reached",
                                            "code" : 40201
                                        }
                        "404": 
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                                "message": {
                                                    "required": true,
                                                    "type": "string",
                                                    "description": "the message exaplaining the error"
                                                },
                                                "code": {
                                                    "required": true,
                                                    "type": "number",
                                                    "description": "the internal code of the error"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "additional information for some of the errors"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                            "message" : "Element not found",
                                            "code" : 40401
                                        }
                        "500": 
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                                "message": {
                                                    "required": true,
                                                    "type": "string",
                                                    "description": "the message exaplaining the error"
                                                },
                                                "code": {
                                                    "required": true,
                                                    "type": "number",
                                                    "description": "the internal code of the error"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "additional information for some of the errors"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                            "message" : "Fatal server error occurred",
                                            "code" : 50001,
                                            "data" : {
                                            	"id" : "1asde2"
                                        	}
                                        }
                    is: ["fields"]
        "/done": 
            displayName: "Done Events"
            type: "common"
            get: 
                description: "Use this method to get collection of past events."
                queryParameters: 
                    "offset": 
                        description: "the number of items returned"
                        type: number
                        required: false
                        repeat: false
                    "limit": 
                        description: "the starting position"
                        type: number
                        required: false
                        repeat: false
                    "fields": 
                        description: "the fields we want to show in our result"
                        type: string
                        required: false
                        repeat: false
                        example: "id,name,description"
                    "order": 
                        description: "the fields we want to order by and the type of ordering"
                        type: string
                        required: false
                        repeat: false
                        example: "id:DESC,foo:ASC"
                    "fromu": 
                        description: "the object updated after this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "tou": 
                        description: "the object updated before this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "fromc": 
                        description: "the object created after this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "toc": 
                        description: "the object created before this time as a timestamp"
                        type: number
                        required: false
                        repeat: false
                        example: "1394204207755"
                    "ids": 
                        description: "the ids we want to narrow down our search to"
                        type: string
                        required: false
                        repeat: false
                        example: "1,2,4,5"
                responses: 
                    "200": 
                        description: "Success!"
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "items": {
                                            "type": "object", 
                                            "description": "A single event", 
                                            "properties": {
                                                "body": {
                                                    "type": "object", 
                                                    "description": "the body of the event"
                                                }, 
                                                "status": {
                                                    "enum": [
                                                        0, 
                                                        1, 
                                                        2, 
                                                        3, 
                                                        4, 
                                                        5, 
                                                        6
                                                    ], 
                                                    "type": "number", 
                                                    "description": "current status of the event; 0:STATUS_WAITING; 1:STATUS_INPROGRESS; 2:STATUS_SYSTEM_ERROR; 3:STATUS_USER_ERROR; 4:STATUS_DONE; 5:STATUS_IGNORED; 6:STATUS_QUEUED"
                                                }, 
                                                "actionTime": {
                                                    "type": "number", 
                                                    "description": "the time when the action actually took place"
                                                }, 
                                                "sourceId": {
                                                    "type": "number", 
                                                    "description": "the id of the transaction source of the event"
                                                }, 
                                                "eventType": {
                                                    "enum": [
                                                        0, 
                                                        1, 
                                                        2, 
                                                        3
                                                    ], 
                                                    "type": "number", 
                                                    "description": "the type of the event; 0:NORMAL; 1:GROUP; 2:DEBUG; 3:FORCED"
                                                }, 
                                                "subjectType": {
                                                    "enum": [
                                                        0, 
                                                        1
                                                    ], 
                                                    "type": "number", 
                                                    "description": "the type of the subject of the event; 0:USER; 1:GROUP"
                                                }, 
                                                "clientId": {
                                                    "type": "number", 
                                                    "description": "the id of the client in whose context the event is processed"
                                                }, 
                                                "priority": {
                                                    "enum": [
                                                        0, 
                                                        1, 
                                                        2, 
                                                        3, 
                                                        4, 
                                                        5
                                                    ], 
                                                    "type": "number", 
                                                    "description": "the priority of the event; 0:PRIORITY_LOW; 1:PRIORITY_MEDIUM; 2:PRIORITY_NORMAL; 3:PRIORITY_HIGH; 4:PRIORITY_CRITICAL; 5:PRIORITY_BLOCKER"
                                                }, 
                                                "errorTTL": {
                                                    "type": "number", 
                                                    "description": "time to live of the event error"
                                                }, 
                                                "internal": {
                                                    "type": "boolean", 
                                                    "description": "whether the event is internal (sent by the system)"
                                                }, 
                                                "subjectId": {
                                                    "type": "number", 
                                                    "description": "the id of the subject of the event"
                                                }, 
                                                "internalTTL": {
                                                    "type": "number", 
                                                    "description": "time to live used in the INTERNAL_EVENT event type"
                                                }, 
                                                "updatedAt": {
                                                    "type": "number", 
                                                    "description": "the time of updating the event in milliseconds"
                                                }, 
                                                "data": {
                                                    "type": "object", 
                                                    "description": "additional data for the event"
                                                }, 
                                                "id": {
                                                    "type": "string", 
                                                    "description": "the id of the event"
                                                }, 
                                                "createdAt": {
                                                    "type": "number", 
                                                    "description": "the time of creating the event in milliseconds"
                                                },            
                                                "debug": {
                                                    "type": "boolean", 
                                                    "description": "whether debugging is active"
                                                }
                                            }
                                        }, 
                                        "$schema": "http://json-schema.org/draft-03/schema", 
                                        "type": "array", 
                                        "description": "Representation of the list of events"
                                    }
                                example: |
                                    [
                                        {
                                            "internalTTL": -1,
                                            "body": {
                                                "number": 11111
                                            },
                                            "eventType": 0,
                                            "updatedAt": 1398429507518,
                                            "internal": false,
                                            "priority": 1,
                                            "actionTime": 1398429507645,
                                            "clientId": 35,
                                            "data": {},
                                            "subjectType": 0,
                                            "subjectId": 1,
                                            "debug": false,
                                            "id": "535a5743e4b029c5afca6eb3",
                                            "status": 4,
                                            "createdAt": 1398429507645,
                                            "sourceId": 1,
                                            "errorTTL": -1
                                        },
                                        {
                                            "internalTTL": -1,
                                            "body": {
                                                "number": 11112
                                            },
                                            "eventType": 0,
                                            "updatedAt": 1398429800085,
                                            "internal": false,
                                            "priority": 1,
                                            "actionTime": 1398429799566,
                                            "clientId": 35,
                                            "data": {},
                                            "subjectType": 0,
                                            "subjectId": 1,
                                            "debug": false,
                                            "id": "535a5867e4b029c5afca6eb7",
                                            "status": 4,
                                            "createdAt": 1398429799566,
                                            "sourceId": 1,
                                            "errorTTL": -1
                                        },
                                        {
                                            "internalTTL": -1,
                                            "body": {
                                                "number": 11111
                                            },
                                            "eventType": 0,
                                            "updatedAt": 1398434249448,
                                            "internal": false,
                                            "priority": 1,
                                            "actionTime": 1398434249370,
                                            "clientId": 35,
                                            "data": {},
                                            "subjectType": 0,
                                            "subjectId": 1,
                                            "debug": false,
                                            "id": "535a69c9e4b029c5afca6ecf",
                                            "status": 4,
                                            "createdAt": 1398434249370,
                                            "sourceId": 1,
                                            "errorTTL": -1
                                        }
                                    ]
                    "400": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "message": {
                                                "required": true,
                                                "type": "string",
                                                "description": "the message exaplaining the error"
                                            },
                                            "code": {
                                                "required": true,
                                                "type": "number",
                                                "description": "the internal code of the error"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional information for some of the errors"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "message" : "Deserialization error",
                                        "code" : 40001,
                                        "data" : {
                                        	"transactionsource" : "cannot be null"
                                        }
                                    }
                    "401": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "message": {
                                                "required": true,
                                                "type": "string",
                                                "description": "the message exaplaining the error"
                                            },
                                            "code": {
                                                "required": true,
                                                "type": "number",
                                                "description": "the internal code of the error"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
[...]
