#%RAML 0.8
title: "IsaaCloud REST API"
version: "0.1"
baseUri: "https://api.isaacloud.com/v1"
protocols: [HTTPS]
mediaType: "application/json"
resourceTypes: 
    - 
        "common": 
            displayName: "common"
traits: 
    - 
        "paginator": 
            displayName: "paginator"
    - 
        "groups": 
            displayName: "groups"
    - 
        "segments": 
            displayName: "segments"
    - 
        "fields": 
            displayName: "fields"
    - 
        "ordering": 
            displayName: "ordering"
securitySchemes: 
    - 
        "oauth_2_0": 
            description: |
                In authentication case we use OAuth2 serwer implementation, is an open standard provides a method for clients to access server resources on behalf of a resource owner.
            type: "OAuth 2.0"
            settings: 
                "accessTokenUri": "https://oauth.isaacloud.com/token"
                "authorizationUri": "https://oauth.isaacloud.com/authorize"
                "baseUri": "https://oauth.isaacloud.com"
securedBy: 
    - 
        oauth_2_0
"/queues": 
    displayName: "Queue"
    "/events": 
        displayName: "Events"
        type: "common"
        get: 
            description: "Get a list of events for a client."
            queryParameters: 
                "offset": 
                    description: "Number of returned items."
                    type: number
                    required: false
                    repeat: false
                "limit": 
                    description: "Starting position."
                    type: number
                    required: false
                    repeat: false
                "fields": 
                    description: "The fields we want to show in our result."
                    type: string
                    required: false
                    repeat: false
                    example: "id,name,description"
                "order": 
                    description: "The fields we want to order by and the type of ordering."
                    type: string
                    required: false
                    repeat: false
                    example: "id:DESC"
            responses: 
                "200": 
                    description: "Success!"
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "body": {
                                            "required": false,
                                            "type": "object",
                                            "description": "body of the event"
                                        },
                                        "status": {
                                            "required": false,
                                            "type": "string",
                                            "description": "current status"
                                        },
                                        "actionTime": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time the action actually took place"
                                        },
                                        "sourceId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the source"
                                        },
                                        "type": {
                                            "required": false,
                                            "type": "string",
                                            "description": "type of this object"
                                        },
                                        "subjectType": {
                                            "required": false,
                                            "type": "string",
                                            "description": "type of the subject"
                                        },
                                        "subjectId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the subject"
                                        },
                                        "priority": {
                                            "required": false,
                                            "type": "string",
                                            "description": "priority of this object"
                                        },
                                        "clientId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the client"
                                        },
                                        "ttl": {
                                            "required": false,
                                            "type": "number",
                                            "description": ""
                                        },
                                        "updatedAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was last updated"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional useful data"
                                        },
                                        "createdAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was created"
                                        }
                                    }
                                }
                            example: |
                                [
                                   {
                                      "internalTTL":-1,
                                      "body":{
                                         "distance":"2000",
                                         "destination":"JFK"
                                      },
                                      "updatedAt":1393247833398,
                                      "internal":false,
                                      "priority":3,
                                      "actionTime":1393247833398,
                                      "clientId":1,
                                      "data":{
                                
                                      },
                                      "subjectType":0,
                                      "subjectId":12,
                                      "id":"530b4659e4b0ec808fa7fe54",
                                      "status":0,
                                      "createdAt":1393247833398,
                                      "type":0,
                                      "sourceId":55,
                                      "errorTTL":-1
                                   }
                                ]
                "500": 
                "404": 
                "400": 
            is: ["paginator", "fields", "ordering"]
        post: 
            description: "Create a new event."
            body: 
                "application/json": 
                    schema: |
                        {
                            "$schema": "http://json-schema.org/draft-03/schema",
                            "properties": {
                                "body": {
                                    "required": false,
                                    "type": "object",
                                    "description": "body of the event"
                                },
                                "sourceId": {
                                    "required": true,
                                    "type": "number",
                                    "description": "id of the source"
                                },
                                "subjectType": {
                                    "required": true,
                                    "type": "string",
                                    "description": "type of the subject"
                                },
                                "subjectId": {
                                    "required": true,
                                    "type": "number",
                                    "description": "id of the subject"
                                },
                                "priority": {
                                    "required": true,
                                    "type": "string",
                                    "description": "priority of this object"
                                },
                                "type": {
                                    "required": true,
                                    "type": "string",
                                    "description": "type of this object"
                                }
                            }
                        }
                    example: |
                        {
                        	"body":{
                        		"destination":"JFK",
                        		"distance":"2000"
                        	},
                        	"priority":"PRIORITY_HIGH",
                        	"sourceId":55,
                        	"subjectId":12,
                        	"subjectType":"USER",
                        	"type":"NORMAL"
                        }
            responses: 
                "201": 
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "body": {
                                            "required": false,
                                            "type": "object",
                                            "description": "body of the event"
                                        },
                                        "status": {
                                            "required": false,
                                            "type": "string",
                                            "description": "current status"
                                        },
                                        "actionTime": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time the action actually took place"
                                        },
                                        "sourceId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the source"
                                        },
                                        "type": {
                                            "required": false,
                                            "type": "string",
                                            "description": "type of this object"
                                        },
                                        "subjectType": {
                                            "required": false,
                                            "type": "string",
                                            "description": "type of the subject"
                                        },
                                        "subjectId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the subject"
                                        },
                                        "priority": {
                                            "required": false,
                                            "type": "string",
                                            "description": "priority of this object"
                                        },
                                        "clientId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the client"
                                        },
                                        "ttl": {
                                            "required": false,
                                            "type": "number",
                                            "description": ""
                                        },
                                        "updatedAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was last updated"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional useful data"
                                        },
                                        "createdAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was created"
                                        }
                                    }
                                }
                            example: |
                                {
                                   "internalTTL":-1,
                                   "body":{
                                      "distance":"2000",
                                      "destination":"JFK"
                                   },
                                   "updatedAt":1393247833398,
                                   "internal":false,
                                   "priority":3,
                                   "actionTime":1393247833398,
                                   "clientId":1,
                                   "data":{
                                
                                   },
                                   "subjectType":0,
                                   "subjectId":12,
                                   "id":"530b4659e4b0ec808fa7fe54",
                                   "status":0,
                                   "createdAt":1393247833398,
                                   "type":0,
                                   "sourceId":55,
                                   "errorTTL":-1
                                }
                "200": 
                    description: "Success!"
                    body: 
                        "application/json": 
                            example: "example"
                "500": 
                "400": 
        "/error": 
            displayName: "ErrorEvents"
            type: "common"
            get: 
                description: "Get error events for a client."
                queryParameters: 
                    "offset": 
                        description: "Number of returned items."
                        type: number
                        required: false
                        repeat: false
                    "limit": 
                        description: "Starting position."
                        type: number
                        required: false
                        repeat: false
                    "fields": 
                        description: "The fields we want to show in our result."
                        type: string
                        required: false
                        repeat: false
                        example: "id,name,description"
                    "order": 
                        description: "The fields we want to order by and the type of ordering."
                        type: string
                        required: false
                        repeat: false
                        example: "id:DESC"
                responses: 
                    "200": 
                        description: "Success!"
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "body": {
                                                "required": false,
                                                "type": "object",
                                                "description": "body of the event"
                                            },
                                            "status": {
                                                "required": false,
                                                "type": "string",
                                                "description": "current status"
                                            },
                                            "actionTime": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time the action actually took place"
                                            },
                                            "sourceId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the source"
                                            },
                                            "type": {
                                                "required": false,
                                                "type": "string",
                                                "description": "type of this object"
                                            },
                                            "subjectType": {
                                                "required": false,
                                                "type": "string",
                                                "description": "type of the subject"
                                            },
                                            "subjectId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the subject"
                                            },
                                            "priority": {
                                                "required": false,
                                                "type": "string",
                                                "description": "priority of this object"
                                            },
                                            "clientId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the client"
                                            },
                                            "ttl": {
                                                "required": false,
                                                "type": "number",
                                                "description": ""
                                            },
                                            "updatedAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was last updated"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional useful data"
                                            },
                                            "createdAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was created"
                                            }
                                        }
                                    }
                                example: |
                                    [
                                       {
                                          "internalTTL":-1,
                                          "body":{
                                             "distance":"2000",
                                             "destination":"JFK"
                                          },
                                          "updatedAt":1393247833398,
                                          "internal":false,
                                          "priority":3,
                                          "actionTime":1393247833398,
                                          "clientId":1,
                                          "data":{
                                    
                                          },
                                          "subjectType":0,
                                          "subjectId":12,
                                          "id":"530b4659e4b0ec808fa7fe54",
                                          "status":0,
                                          "createdAt":1393247833398,
                                          "type":0,
                                          "sourceId":55,
                                          "errorTTL":-1
                                       }
                                    ]
                    "500": 
                    "404": 
                    "400": 
                is: ["paginator", "fields", "ordering"]
            "/{eventId}": 
                displayName: "ErrorEvent"
                uriParameters: 
                    "eventId": 
                        displayName: "eventId"
                        type: string
                        required: true
                        repeat: false
                type: "common"
                get: 
                    description: "Get one error event by id for a client."
                    responses: 
                        "200": 
                            description: "Success!"
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                                "body": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "body of the event"
                                                },
                                                "status": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "current status"
                                                },
                                                "actionTime": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "time the action actually took place"
                                                },
                                                "sourceId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the source"
                                                },
                                                "type": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "type of this object"
                                                },
                                                "subjectType": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "type of the subject"
                                                },
                                                "subjectId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the subject"
                                                },
                                                "priority": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "priority of this object"
                                                },
                                                "clientId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the client"
                                                },
                                                "ttl": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "updatedAt": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "time it was last updated"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "additional useful data"
                                                },
                                                "createdAt": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "time it was created"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                           "internalTTL":-1,
                                           "body":{
                                              "distance":"2000",
                                              "destination":"JFK"
                                           },
                                           "updatedAt":1393247833398,
                                           "internal":false,
                                           "priority":3,
                                           "actionTime":1393247833398,
                                           "clientId":1,
                                           "data":{
                                        
                                           },
                                           "subjectType":0,
                                           "subjectId":12,
                                           "id":"530b4659e4b0ec808fa7fe54",
                                           "status":0,
                                           "createdAt":1393247833398,
                                           "type":0,
                                           "sourceId":55,
                                           "errorTTL":-1
                                        }
                        "500": 
                        "404": 
                        "400": 
        "/{eventId}": 
            displayName: "Event"
            uriParameters: 
                "eventId": 
                    displayName: "eventId"
                    type: string
                    required: true
                    repeat: false
            type: "common"
            get: 
                description: "Get one event by Id for a client."
                responses: 
                    "200": 
                        description: "Success!"
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "body": {
                                                "required": false,
                                                "type": "object",
                                                "description": "body of the event"
                                            },
                                            "status": {
                                                "required": false,
                                                "type": "string",
                                                "description": "current status"
                                            },
                                            "actionTime": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time the action actually took place"
                                            },
                                            "sourceId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the source"
                                            },
                                            "type": {
                                                "required": false,
                                                "type": "string",
                                                "description": "type of this object"
                                            },
                                            "subjectType": {
                                                "required": false,
                                                "type": "string",
                                                "description": "type of the subject"
                                            },
                                            "subjectId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the subject"
                                            },
                                            "priority": {
                                                "required": false,
                                                "type": "string",
                                                "description": "priority of this object"
                                            },
                                            "clientId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the client"
                                            },
                                            "ttl": {
                                                "required": false,
                                                "type": "number",
                                                "description": ""
                                            },
                                            "updatedAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was last updated"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional useful data"
                                            },
                                            "createdAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was created"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                       "internalTTL":-1,
                                       "body":{
                                          "distance":"2000",
                                          "destination":"JFK"
                                       },
                                       "updatedAt":1393247833398,
                                       "internal":false,
                                       "priority":3,
                                       "actionTime":1393247833398,
                                       "clientId":1,
                                       "data":{
                                    
                                       },
                                       "subjectType":0,
                                       "subjectId":12,
                                       "id":"530b4659e4b0ec808fa7fe54",
                                       "status":0,
                                       "createdAt":1393247833398,
                                       "type":0,
                                       "sourceId":55,
                                       "errorTTL":-1
                                    }
                    "500": 
                    "404": 
                    "400": 
    "/notifications": 
        displayName: "Notifications"
        type: "common"
        get: 
            description: "Get notifications for a client."
            queryParameters: 
                "offset": 
                    description: "Number of returned items."
                    type: number
                    required: false
                    repeat: false
                "limit": 
                    description: "Starting position."
                    type: number
                    required: false
                    repeat: false
                "fields": 
                    description: "The fields we want to show in our result."
                    type: string
                    required: false
                    repeat: false
                    example: "id,name,description"
                "order": 
                    description: "The fields we want to order by and the type of ordering."
                    type: string
                    required: false
                    repeat: false
                    example: "id:DESC"
            responses: 
                "200": 
                    description: "Success!"
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "status": {
                                            "required": false,
                                            "type": "string",
                                            "description": "current status"
                                        },
                                        "typeId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the type"
                                        },
                                        "subjectType": {
                                            "required": false,
                                            "type": "string",
                                            "description": "type of the subject"
                                        },
                                        "clientId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the client"
                                        },
                                        "priority": {
                                            "required": false,
                                            "type": "string",
                                            "description": "priority of this object"
                                        },
                                        "source": {
                                            "required": false,
                                            "type": "number",
                                            "description": ""
                                        },
                                        "subjectId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the subject"
                                        },
                                        "ttl": {
                                            "required": false,
                                            "type": "number",
                                            "description": ""
                                        },
                                        "updatedAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was last updated"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional useful data"
                                        },
                                        "action": {
                                            "required": false,
                                            "type": "object",
                                            "description": "kind of action that will be taken"
                                        },
                                        "createdAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was created"
                                        }
                                    }
                                }
                            example: |
                                [
                                    {
                                        "id": 1,
                                        "action": 5,
                                        "clientId": 1,
                                        "data": {},
                                        "progress": 1,
                                        "sourceId": 1,
                                        "status": 1,
                                        "subjectId": 1,
                                        "subjectType": 1,
                                        "ttl": 5,
                                        "typeId": 0,
                                        "updatedAt": 1390236382695,
                                        "createdAt": 1390236382695
                                    }
                                ]
                "500": 
                "404": 
                "400": 
            is: ["paginator", "fields", "ordering"]
        "/{notificationId}": 
            displayName: "Notification"
            uriParameters: 
                "notificationId": 
                    displayName: "notificationId"
                    type: string
                    required: true
                    repeat: false
            type: "common"
            get: 
                description: "Get notification for a client and set its status to IN_PROGRESS."
                responses: 
                    "200": 
                        description: "Success!"
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "status": {
                                                "required": false,
                                                "type": "string",
                                                "description": "current status"
                                            },
                                            "typeId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the type"
                                            },
                                            "subjectType": {
                                                "required": false,
                                                "type": "string",
                                                "description": "type of the subject"
                                            },
                                            "clientId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the client"
                                            },
                                            "priority": {
                                                "required": false,
                                                "type": "string",
                                                "description": "priority of this object"
                                            },
                                            "source": {
                                                "required": false,
                                                "type": "number",
                                                "description": ""
                                            },
                                            "subjectId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the subject"
                                            },
                                            "ttl": {
                                                "required": false,
                                                "type": "number",
                                                "description": ""
                                            },
                                            "updatedAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was last updated"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional useful data"
                                            },
                                            "action": {
                                                "required": false,
                                                "type": "object",
                                                "description": "kind of action that will be taken"
                                            },
                                            "createdAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was created"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "action": 5,
                                        "clientId": 1,
                                        "data": {},
                                        "progress": 1,
                                        "sourceId": 1,
                                        "status": 1,
                                        "subjectId": 1,
                                        "subjectType": 1,
                                        "ttl": 5,
                                        "typeId": 0,
                                    }
                    "500": 
                    "404": 
                    "400": 
            patch: 
                description: "Patch one notification by id."
                body: 
                    "application/json": 
                        schema: |
                            {
                                "$schema": "http://json-schema.org/draft-03/schema",
                                "properties": {
                                	"action": {
                                        "required": false,
                                        "type": "number",
                                        "description": "action to be taken"
                                    },
                                    "clientId": {
                                        "required": false,
                                        "type": "number",
                                        "description": "id of the client responsible for this resource"
                                    },
                                    "data": {
                                        "required": false,
                                        "type": "object",
                                        "description": "notification data"
                                    },
                                    "progress": {
                                        "required": false,
                                        "type": "number",
                                        "description": "id of the progress item"
                                    },
                                    "sourceId": {
                                        "required": false,
                                        "type": "number",
                                        "description": "id of the notification source"
                                    },
                                    "status": {
                                        "required": false,
                                        "type": "string",
                                        "description": "current status"
                                    },
                                    "subjectId": {
                                        "required": false,
                                        "type": "number",
                                        "description": "id of the subject (group/user)"
                                    },
                                    "subjectType": {
                                        "required": false,
                                        "type": "string",
                                        "description": "USER or GROUP"
                                    },
                                    "ttl": {
                                        "required": false,
                                        "type": "number",
                                        "description": "number of times it will be processed"
                                    },
                                    "typeId": {
                                        "required": false,
                                        "type": "number",
                                        "description": "id of the notificationType"
                                    }
                                }
                            }
                        example: |
                            {
                                "action": 5,
                                "clientId": 1,
                                "data": {},
                                "progress": 1,
                                "sourceId": 1,
                                "status": 1,
                                "subjectId": 1,
                                "subjectType": 1,
                                "ttl": 5,
                                "typeId": 0,
                            }
                responses: 
                    "200": 
                        description: "Success!"
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                        	"action": {
                                                "required": false,
                                                "type": "number",
                                                "description": "action to be taken"
                                            },
                                            "clientId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the client responsible for this resource"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "notification data"
                                            },
                                            "progress": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the progress item"
                                            },
                                            "sourceId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the notification source"
                                            },
                                            "status": {
                                                "required": false,
                                                "type": "string",
                                                "description": "current status"
                                            },
                                            "subjectId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the subject (group/user)"
                                            },
                                            "subjectType": {
                                                "required": false,
                                                "type": "string",
                                                "description": "USER or GROUP"
                                            },
                                            "ttl": {
                                                "required": false,
                                                "type": "number",
                                                "description": "number of times it will be processed"
                                            },
                                            "typeId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the notificationType"
                                            }
                                        }
                                    }
                                example: |
                                    {
                                        "id": 1,
                                        "action": 5,
                                        "clientId": 1,
                                        "data": {},
                                        "progress": 1,
                                        "sourceId": 1,
                                        "status": 1,
                                        "subjectId": 1,
                                        "subjectType": 1,
                                        "ttl": 5,
                                        "typeId": 0,
                                        "updatedAt": 1390236382695,
                                        "createdAt": 1390236382695
                                    }
                    "500": 
                    "404": 
                    "400": 
        "/error": 
            displayName: "ErrorNotifications"
            type: "common"
            get: 
                description: "Get error notifications for a client."
                queryParameters: 
                    "offset": 
                        description: "Number of returned items."
                        type: number
                        required: false
                        repeat: false
                    "limit": 
                        description: "Starting position."
                        type: number
                        required: false
                        repeat: false
                    "fields": 
                        description: "The fields we want to show in our result."
                        type: string
                        required: false
                        repeat: false
                        example: "id,name,description"
                    "order": 
                        description: "The fields we want to order by and the type of ordering."
                        type: string
                        required: false
                        repeat: false
                        example: "id:DESC"
                responses: 
                    "200": 
                        description: "Success!"
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "status": {
                                                "required": false,
                                                "type": "string",
                                                "description": "current status"
                                            },
                                            "typeId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the type"
                                            },
                                            "subjectType": {
                                                "required": false,
                                                "type": "string",
                                                "description": "type of the subject"
                                            },
                                            "clientId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the client"
                                            },
                                            "priority": {
                                                "required": false,
                                                "type": "string",
                                                "description": "priority of this object"
                                            },
                                            "source": {
                                                "required": false,
                                                "type": "number",
                                                "description": ""
                                            },
                                            "subjectId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the subject"
                                            },
                                            "ttl": {
                                                "required": false,
                                                "type": "number",
                                                "description": ""
                                            },
                                            "updatedAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was last updated"
                                            },
                                            "data": {
                                                "required": false,
                                                "type": "object",
                                                "description": "additional useful data"
                                            },
                                            "action": {
                                                "required": false,
                                                "type": "object",
                                                "description": "kind of action that will be taken"
                                            },
                                            "createdAt": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time it was created"
                                            }
                                        }
                                    }
                                example: |
                                    [
                                        {
                                            "id": 1,
                                            "action": 5,
                                            "clientId": 1,
                                            "data": {},
                                            "progress": 1,
                                            "sourceId": 1,
                                            "status": 1,
                                            "subjectId": 1,
                                            "subjectType": 1,
                                            "ttl": 5,
                                            "typeId": 0,
                                            "updatedAt": 1390236382695,
                                            "createdAt": 1390236382695
                                        }
                                    ]
                    "500": 
                    "404": 
                    "400": 
                is: ["paginator", "fields", "ordering"]
            "/{notificationId}": 
                displayName: "ErrorNotification"
                uriParameters: 
                    "notificationId": 
                        displayName: "notificationId"
                        type: string
                        required: true
                        repeat: false
                type: "common"
                get: 
                    description: "Get error notification for a client."
                    responses: 
                        "200": 
                            description: "Success!"
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                                "status": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "current status"
                                                },
                                                "typeId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the type"
                                                },
                                                "subjectType": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "type of the subject"
                                                },
                                                "clientId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the client"
                                                },
                                                "priority": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "priority of this object"
                                                },
                                                "source": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "subjectId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the subject"
                                                },
                                                "ttl": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "updatedAt": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "time it was last updated"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "additional useful data"
                                                },
                                                "action": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "kind of action that will be taken"
                                                },
                                                "createdAt": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "time it was created"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                            "action": 5,
                                            "clientId": 1,
                                            "data": {},
                                            "progress": 1,
                                            "sourceId": 1,
                                            "status": 1,
                                            "subjectId": 1,
                                            "subjectType": 1,
                                            "ttl": 5,
                                            "typeId": 0,
                                        }
                        "500": 
                        "404": 
                        "400": 
                patch: 
                    description: "Update status for an error notification."
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                    	"action": {
                                            "required": false,
                                            "type": "number",
                                            "description": "action to be taken"
                                        },
                                        "clientId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the client responsible for this resource"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "notification data"
                                        },
                                        "progress": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the progress item"
                                        },
                                        "sourceId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the notification source"
                                        },
                                        "status": {
                                            "required": false,
                                            "type": "string",
                                            "description": "current status"
                                        },
                                        "subjectId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the subject (group/user)"
                                        },
                                        "subjectType": {
                                            "required": false,
                                            "type": "string",
                                            "description": "USER or GROUP"
                                        },
                                        "ttl": {
                                            "required": false,
                                            "type": "number",
                                            "description": "number of times it will be processed"
                                        },
                                        "typeId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the notificationType"
                                        }
                                    }
                                }
                            example: |
                                {
                                    "action": 5,
                                    "clientId": 1,
                                    "data": {},
                                    "progress": 1,
                                    "sourceId": 1,
                                    "status": 1,
                                    "subjectId": 1,
                                    "subjectType": 1,
                                    "ttl": 5,
                                    "typeId": 0,
                                }
                    responses: 
                        "200": 
                            description: "Success!"
                            body: 
                                "application/json": 
                                    schema: |
                                        {
                                            "$schema": "http://json-schema.org/draft-03/schema",
                                            "properties": {
                                            	"action": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "action to be taken"
                                                },
                                                "clientId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the client responsible for this resource"
                                                },
                                                "data": {
                                                    "required": false,
                                                    "type": "object",
                                                    "description": "notification data"
                                                },
                                                "progress": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the progress item"
                                                },
                                                "sourceId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the notification source"
                                                },
                                                "status": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "current status"
                                                },
                                                "subjectId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the subject (group/user)"
                                                },
                                                "subjectType": {
                                                    "required": false,
                                                    "type": "string",
                                                    "description": "USER or GROUP"
                                                },
                                                "ttl": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "number of times it will be processed"
                                                },
                                                "typeId": {
                                                    "required": false,
                                                    "type": "number",
                                                    "description": "id of the notificationType"
                                                }
                                            }
                                        }
                                    example: |
                                        {
                                            "action": 5,
                                            "clientId": 1,
                                            "data": {},
                                            "progress": 1,
                                            "sourceId": 1,
                                            "status": 1,
                                            "subjectId": 1,
                                            "subjectType": 1,
                                            "ttl": 5,
                                            "typeId": 0,
                                        }
                        "500": 
                        "404": 
                        "400": 
"/cache": 
    displayName: "Cache"
    "/counters": 
        displayName: "Counters"
        type: "common"
        get: 
            description: "Get a list of counters."
            queryParameters: 
                "offset": 
                    description: "Number of returned items."
                    type: number
                    required: false
                    repeat: false
                "limit": 
                    description: "Starting position."
                    type: number
                    required: false
                    repeat: false
                "fields": 
                    description: "The fields we want to show in our result."
                    type: string
                    required: false
                    repeat: false
                    example: "id,name,description"
                "order": 
                    description: "The fields we want to order by and the type of ordering."
                    type: string
                    required: false
                    repeat: false
                    example: "id:DESC"
            responses: 
                "200": 
                    description: "Success!"
                    body: 
                        "application/json": 
                            schema: |
                                {
                                   "$schema":"http://json-schema.org/draft-03/schema",
                                   "type":"object",
                                   "description":"A representation of a counter",
                                   "properties":{
                                      "name":{
                                         "required":true,
                                         "type":"string",
                                         "constraint":"must be unique, minimum 5, maximum 50 chars, alphanumeric characters and underscore",
                                         "description":"system name of counter, can be used in conditions on left side"
                                      },
                                      "description":{
                                         "required":false,
                                         "type":"string",
                                         "constraint":"minimum 5, maximum 50 chars, alphanumeric characters and underscore",
                                         "description":"system name of counter"
                                      },
                                      "value":{
                                         "required":false,
                                         "type":"number",
                                         "default":"0",
                                         "description":"global value of counter"
                                      },
                                      "requirement":{
                                         "required":false,
                                         "type":"string",
                                         "allowed":{
                                            "0":"ALL",
                                            "1":"ANY"
                                         },
                                         "default":"ANY",
                                         "description":"determines if counter requires all conditions or only one"
                                      },
                                      "conditions":{
                                         "required":false,
                                         "type":"array",
                                         "constraint":"elements must be numeric",
                                         "description":"list of conditions ids"
                                      },
                                      "eventSettable":{
                                         "required":false,
                                         "type":"boolean",
                                         "default":"false",
                                         "description":"determines if counter can be set by event"
                                      },
                                      "globalCounter":{
                                         "required":false,
                                         "type":"boolean",
                                         "default":"false",
                                         "description":"determines if counter is global, which means that will be counting all incrementations"
                                      },
                                      "transactionSource":{
                                         "required":true,
                                         "type":"number",
                                         "constraint":"must be numeric",
                                         "description":"id of transaction source"
                                      }
                                   }
                                }
                            example: |
                                [
                                    {
                                        "id": 1,
                                        "achievement": 3,
                                        "conditions": [
                                            1
                                        ],
                                        "description": "A simple counter",
                                        "eventSettable": false,
                                        "game": 4,
                                        "globalCounter": false,
                                        "name": "Test counter0",
                                        "requirement": "ALL",
                                        "transactionSource": 1,
                                        "value": 0,
                                        "updatedAt": 1390236382695,
                                        "createdAt": 1390236382695
                                    }
                                ]
                "500": 
                "404": 
                "400": 
            is: ["paginator", "fields", "ordering"]
        "/{counterId}": 
            displayName: "Counter"
            uriParameters: 
                "counterId": 
                    displayName: "counterId"
                    type: string
                    required: true
                    repeat: false
            get: 
                description: "Get one counter."
                queryParameters: 
                    "fields": 
                        description: "The fields we want to show in our result."
                        type: string
                        required: false
                        repeat: false
                        example: "id,name,description"
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                       "$schema":"http://json-schema.org/draft-03/schema",
                                       "type":"object",
                                       "description":"A representation of a counter",
                                       "properties":{
                                          "name":{
                                             "required":true,
                                             "type":"string",
                                             "constraint":"must be unique, minimum 5, maximum 50 chars, alphanumeric characters and underscore",
                                             "description":"system name of counter, can be used in conditions on left side"
                                          },
                                          "description":{
                                             "required":false,
                                             "type":"string",
                                             "constraint":"minimum 5, maximum 50 chars, alphanumeric characters and underscore",
                                             "description":"system name of counter"
                                          },
                                          "value":{
                                             "required":false,
                                             "type":"number",
                                             "default":"0",
                                             "description":"global value of counter"
                                          },
                                          "requirement":{
                                             "required":false,
                                             "type":"string",
                                             "allowed":{
                                                "0":"ALL",
                                                "1":"ANY"
                                             },
                                             "default":"ANY",
                                             "description":"determines if counter requires all conditions or only one"
                                          },
                                          "conditions":{
                                             "required":false,
                                             "type":"array",
                                             "constraint":"elements must be numeric",
                                             "description":"list of conditions ids"
                                          },
                                          "eventSettable":{
                                             "required":false,
                                             "type":"boolean",
                                             "default":"false",
                                             "description":"determines if counter can be set by event"
                                          },
                                          "globalCounter":{
                                             "required":false,
                                             "type":"boolean",
                                             "default":"false",
                                             "description":"determines if counter is global, which means that will be counting all incrementations"
                                          },
                                          "transactionSource":{
                                             "required":true,
                                             "type":"number",
                                             "constraint":"must be numeric",
                                             "description":"id of transaction source"
                                          }
                                       }
                                    }
                                example: |
                                    {
                                        "id": 1,
                                        "achievement": 3,
                                        "conditions": [
                                            1
                                        ],
                                        "description": "A simple counter",
                                        "eventSettable": false,
                                        "game": 4,
                                        "globalCounter": false,
                                        "name": "Test counter0",
                                        "requirement": "ALL",
                                        "transactionSource": 1,
                                        "value": 0,
                                        "updatedAt": 1390236382695,
                                        "createdAt": 1390236382695
                                    }
                is: ["fields"]
    "/events": 
        displayName: "Events"
        type: "common"
        get: 
            description: "Get done events collection."
            queryParameters: 
                "offset": 
                    description: "Number of returned items."
                    type: number
                    required: false
                    repeat: false
                "limit": 
                    description: "Starting position."
                    type: number
                    required: false
                    repeat: false
                "fields": 
                    description: "The fields we want to show in our result."
                    type: string
                    required: false
                    repeat: false
                    example: "id,name,description"
                "order": 
                    description: "The fields we want to order by and the type of ordering."
                    type: string
                    required: false
                    repeat: false
                    example: "id:DESC"
            responses: 
                "200": 
                    description: "Success!"
                    body: 
                        "application/json": 
                            schema: |
                                {
                                    "$schema": "http://json-schema.org/draft-03/schema",
                                    "properties": {
                                        "body": {
                                            "required": false,
                                            "type": "object",
                                            "description": "body of the event"
                                        },
                                        "status": {
                                            "required": false,
                                            "type": "string",
                                            "description": "current status"
                                        },
                                        "actionTime": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time the action actually took place"
                                        },
                                        "sourceId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the source"
                                        },
                                        "type": {
                                            "required": false,
                                            "type": "string",
                                            "description": "type of this object"
                                        },
                                        "subjectType": {
                                            "required": false,
                                            "type": "string",
                                            "description": "type of the subject"
                                        },
                                        "subjectId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the subject"
                                        },
                                        "priority": {
                                            "required": false,
                                            "type": "string",
                                            "description": "priority of this object"
                                        },
                                        "clientId": {
                                            "required": false,
                                            "type": "number",
                                            "description": "id of the client"
                                        },
                                        "ttl": {
                                            "required": false,
                                            "type": "number",
                                            "description": ""
                                        },
                                        "updatedAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was last updated"
                                        },
                                        "data": {
                                            "required": false,
                                            "type": "object",
                                            "description": "additional useful data"
                                        },
                                        "createdAt": {
                                            "required": false,
                                            "type": "number",
                                            "description": "time it was created"
                                        }
                                    }
                                }
                            example: |
                                [
                                    {
                                        "id": 1,
                                        "actionTime": 1390236383512,
                                        "body": {},
                                        "clientId": 1,
                                        "data": {},
                                        "errorTTL": -1,
                                        "internal": false,
                                        "internalTTL": -1,
                                        "progress": 1,
                                        "sourceId": 0,
                                        "status": 0,
                                        "subjectId": 0,
                                        "subjectType": 1,
                                        "type": 0,
                                        "updatedAt": 1390236382695,
                                        "createdAt": 1390236382695
                                    }
                                ]
                "500": 
                "404": 
                "400": 
            is: ["paginator", "fields", "ordering"]
        "/{eventId}": 
            displayName: "Event"
            uriParameters: 
                "eventId": 
                    displayName: "eventId"
                    type: string
                    required: true
                    repeat: false
            get: 
                description: "Get one done event."
                queryParameters: 
                    "fields": 
                        description: "The fields we want to show in our result."
                        type: string
                        required: false
                        repeat: false
                        example: "id,name,description"
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                schema: |
                                    {
                                        "$schema": "http://json-schema.org/draft-03/schema",
                                        "properties": {
                                            "body": {
                                                "required": false,
                                                "type": "object",
                                                "description": "body of the event"
                                            },
                                            "status": {
                                                "required": false,
                                                "type": "string",
                                                "description": "current status"
                                            },
                                            "actionTime": {
                                                "required": false,
                                                "type": "number",
                                                "description": "time the action actually took place"
                                            },
                                            "sourceId": {
                                                "required": false,
                                                "type": "number",
                                                "description": "id of the source"
                                            },
                                            "type": {
                                                "required": false,
                                                "type": "string",
                                                "description": "type of this object"
                                            },
                                            "subjectType": {
                                                "required": false,
                                                "type": "string",
[...]
